[Desktop Entry]
#GenericName[zh_CN]=打印管理器
#Name[zh_CN]=打印管理器
Categories=Utility;System;
Encoding=UTF-8
Exec=/opt/signal/serial-muunyal
GenericName=Signal
Icon=/opt/signal/app.ico
Name=Signal
Type=Application
X-Deepin-Vendor=user-custom
